// colors ////////////////////////////////////////////////////////////

// Brand Lavender colors
$color-brand-lavender-primary: #b592ff;
$color-brand-lavender-secondary: #c1a5ff;
$color-brand-lavender-tertiary: #cfb9fd;
$color-brand-lavender-quaternary: #e2d4ff;
$color-brand-lavender-quinary: #f7f2ff;

// Brand Minion colors
$color-brand-carnation-primary: #fda5d6;
$color-brand-carnation-secondary: #ffb4de;
$color-brand-carnation-tertiary: #ffd2eb;
$color-brand-carnation-quarternary: #ffe1f2;
$color-brand-carnation-quinary: #fff1f9;

// Brand Minion colors
$color-brand-minion-primary: #ffe76c;
$color-brand-minion-secondary: #ffef9c;
$color-brand-minion-tertiary: #fff6c5;
$color-brand-minion-quarternary: #fff9da;
$color-brand-minion-quinary: #fffcef;

// Brand Smith Apple colors
$color-brand-smith-apple-primary: #a8eb9e;
$color-brand-smith-apple-secondary: #b7f7ae;
$color-brand-smith-apple-tertiary: #d3facd;
$color-brand-smith-apple-quarternary: #e9ffe5;
$color-brand-smith-apple-quinary: #f6fff5;

// Secondary Dark colors
$color-secondary-dark-primary: #191a23;
$color-secondary-dark-secondary: #686a79;
$color-secondary-dark-tertiary: #868893;
$color-secondary-dark-quarternary: #b7b8c1;
$color-secondary-dark-quinary: #d6d7e0;

// Fonts //////////////////////////////////////////////////////////////

// Font weights
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Heading 1
$heading-1-size: 72px;
$heading-1-line-height: 88px;
$heading-1-font-weight: $font-weight-semi-bold;

// Heading 2
$heading-2-size: 48px;
$heading-2-line-height: 56px;
$heading-2-font-weight: $font-weight-semi-bold;

// Heading 3
$heading-3-size: 40px;
$heading-3-line-height: 48px;
$heading-3-font-weight: $font-weight-semi-bold;

// Heading 4
$heading-4-size: 40px;
$heading-4-line-height: 48px;
$heading-4-font-weight: $font-weight-semi-bold;

// Heading 5
$heading-5-size: 32px;
$heading-5-line-height: 40px;
$heading-5-font-weight: $font-weight-semi-bold;

// Heading 6
$heading-6-size: 24px;
$heading-6-line-height: 32px;
$heading-6-font-weight: $font-weight-semi-bold;

// Body XLarge
$body-xlarge-size: 20px;
$body-xlarge-line-height-bold: 28px;
$body-xlarge-line-height-medium: 28px;
$body-xlarge-line-height-regular: 32px;

// Body Large
$body-large-size: 18px;
$body-large-line-height-bold: 26px;
$body-large-line-height-medium: 26px;
$body-large-line-height-regular: 26px;

// Body Normal
$body-normal-size: 16px;
$body-normal-line-height-bold: 24px;
$body-normal-line-height-medium: 24px;
$body-normal-line-height-regular: 24px;

// Body Small
$body-small-size: 14px;
$body-small-line-height-bold: 32px;
$body-small-line-height-medium: 32px;
$body-small-line-height-regular: 32px;

// Body XSmall
$body-xsmall-size: 12px;
$body-xsmall-line-height-bold: 30px;
$body-xsmall-line-height-medium: 30px;
$body-xsmall-line-height-regular: 30px;
