.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: 1600px) {
    max-width:  toRem(1440);

  }


  text-align: left;
  height: 100%;
  font-family: Arial, sans-serif;
  color: #333;
  
  @media (max-width: 600px) {
    padding: 0px;
    margin-top: toRem(40);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: toRem(20) toRem(160);

    @media only screen and (min-width: 1440px) {
      max-width: toRem(1196);
      padding: toRem(30) toRem(140);
    }
    @media only screen and (max-width: 1440px) {
      padding: toRem(20) toRem(0);
      width: 100%;
      max-width: toRem(1180);
    }
    @media only screen and (max-width: 1280px) {
      width: 100%;
      max-width: toRem(924);
    }
  
    @media only screen and (max-width: 992px) {
      max-width: toRem(680);
    }
    @media only screen and (max-width: 768px) {
      max-width: toRem(520);
    }
    @media only screen and (max-width: 576px) {
      max-width: toRem(386);
    }
    @media only screen and (max-width: 425px) {
      max-width: toRem(335);
    }
    @media only screen and (max-width: 375px) {
      max-width: toRem(290);
    }
  }

  &__section {


   
   

    &--wrapper {
      display: flex;
      align-items: start;
      gap: toRem(80);

      @media (max-width: 600px) {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        align-items: start;
        row-gap: toRem(20);
        column-gap: toRem(50);
      }
    }
    &--branding {
      width: 30%;

      @media (max-width: 1024px) {
        width: 50%;
      }
      @media (max-width: 425px) {
        width: 100%;
      }

      .footer__logo {
        display: flex;
        align-items: center;
        margin-bottom: toRem(30);
        gap: toRem(10);
        img {
          width: toRem(40);
        }
        font-weight: $font-weight-bold;
        font-family: "Syne", sans-serif;
        font-size: $heading-5-size;
      }
      .footer__text {
        font-family: "Hanken Grotesk", sans-serif;
        margin-bottom: toRem(20);
      }
      .footer__socials {
        display: flex;
        gap: 10px;
        .footer__social {
          font-size: 20px;
          color: #333;
          text-decoration: none;
          img {
            width: toRem(20);
            padding: toRem(8);
            border-radius: toRem(30);
            background-color: $color-secondary-dark-primary;
          }
        }
      }
    }

    &--links,
    &--utility {
      .footer__heading {
        font-weight: $font-weight-regular;
        margin-bottom: toRem(40);
        font-family: "Hanken Grotesk", sans-serif;
        color: $color-secondary-dark-quarternary;
      }
      .footer__list {
        display: flex;
        flex-direction: column;
        gap: toRem(10);
        list-style: none;
        padding: 0;
        .footer__link {
          font-family: "Hanken Grotesk", sans-serif;
          text-decoration: none;
          color: #333;
          font-weight: $font-weight-semi-bold;
          display: block;
          margin-bottom: 5px;

          @media (max-width: 425px) {
            font-size: $body-xsmall-size;
          }
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #e7e7e7;
    margin: toRem(40) toRem(0) ;
    color: $color-secondary-dark-tertiary;


    @media (max-width: 600px) {
      margin: toRem(60) toRem(0);
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-xlarge-size;
    }
  }
}
