.navbar {

  &__brand {
    display: flex;
        align-items: center;
        margin-bottom: toRem(30);
        gap: toRem(10);
        img {
          width: 40px;
        }
        font-weight: $font-weight-bold;
        font-family: "Syne", sans-serif;
        font-size: $body-xlarge-size;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(70);
    }
  }

  &__link {
    &--item {
      list-style: none;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-large-size;
    }
  }

  &__contact {
    font-family: "Hanken Grotesk", sans-serif;
    padding: toRem(12) toRem(20);
    font-weight: $font-weight-bold;
    border: 2px solid $color-secondary-dark-primary; 
    border-radius: 15px;
  }
  
}
