.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  background-color: white;

  @media only screen and (min-width: 1600px) {
    max-width:  toRem(1500);

  }
  &__brand {
    display: flex;
    align-items: center;
    font-weight: $font-weight-bold;
    font-family: "Syne", sans-serif;
    font-size: $body-xlarge-size;
    gap: toRem(10);

    @media only screen and (max-width: 600px) {
      margin-bottom: toRem(0);
    }

    img {
      width: 40px;
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: toRem(20) toRem(120);
    
    @media only screen and (max-width: 1275px) {
      padding: toRem(20) toRem(40);
    }
  
    @media only screen and (max-width: 1024px) {
      padding: toRem(20) toRem(60);
    }
    @media only screen and (max-width: 600px) {
      padding: toRem(20);
    }
  }

  &__links {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(70);
    }
  }

  &__link {
    &--item {
      list-style: none;
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-large-size;
    }
  }

  &__contact {
    @media only screen and (max-width: 1024px) {
      display: none;
    }
    font-family: "Hanken Grotesk", sans-serif;
    padding: toRem(12) toRem(20);
    font-weight: $font-weight-bold;
    border: 2px solid $color-secondary-dark-primary;
    border-radius: 15px;
  }

  &__dropdown {
    display: none;
    align-items: center;
    justify-content: center;
    img {
      width: toRem(40);
    }

    @media only screen and (max-width: 1024px) {
      display: flex;
    }
  }
}
