.newsletter {
    &__wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      height: toRem(407);
      width: 100%;
      overflow: hidden;
      flex-direction: column;
      gap: toRem(80);
      background-color: $color-brand-lavender-secondary;
      border: 3px solid $color-secondary-dark-primary;
      border-radius: toRem(15);
      @media (max-width: 768px) {
        padding-bottom: toRem(200);
    }
    }
  
    &__cta {
      background-color: #f7f2ff;
      bottom: toRem(50);
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: toRem(80);
      margin-top: toRem(20);
      border-radius: 15px;
      padding: toRem(15) toRem(20);
      @media (max-width: 992px) {
        width: auto;
    }
      p {
        font-family: "Hanken Grotesk", sans-serif;
        font-size: $body-large-size;
        color: $color-secondary-dark-quarternary;
  
        @media (max-width: 320px) {
          font-size: $body-small-size;
        }
      }
  
      &--item {
        font-family: "Hanken Grotesk", sans-serif;
        font-size: $body-large-size;
        font-weight: $font-weight-bold;
        display: flex;
        align-items: center;
        gap: toRem(10);
  
        h6 {
          color: $color-secondary-dark-tertiary;
          font-weight: $font-weight-regular;
        }
  
        &__img {
          display: flex;
          align-items: center;
          justify-content: center;
  
          border-radius: 15px;
          background-color: $color-brand-lavender-secondary;
          padding: toRem(10);
  
          img {
            width: auto;
            height: toRem(30);
          }
        }
      }
  
      &--btn {
        button {
          padding: toRem(15);
          @media (max-width: 992px) {
            padding: toRem(15) toRem(0);
            width: 100%;
          }
        }
      }
    }
    &__illustration {
      position: absolute;
      z-index: 0;
      transform: rotate3d(0, 1, 0, 180deg);
      top: toRem(-250);
      right: toRem(-900);
      @media (max-width: 768px) {
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
    }
     img {
      @media (max-width: 768px) {
        width: toRem(1000);
    }
     }
    }
  
    &__content {
      color: white;
      z-index: 10;
      position: relative;
      overflow: hidden;
      padding: toRem(50) toRem(80) toRem(50);
      width: 40%;


  
      @media (max-width: 1280px) {
        padding: toRem(50) toRem(40) toRem(50);
        width: 50%;
      }
  
      @media (max-width: 768px) {
        width: auto;
      }
  
      @media (max-width: 426px) {
        padding: toRem(20) toRem(20) toRem(20);
      }
      display: flex;
      gap: toRem(20);
      flex-direction: column;
      h2 {
        font-family: "Syne", sans-serif;
        font-size: $heading-2-size;
        font-weight: $font-weight-bold;
        @media (max-width: 992px) {
          font-size: $heading-5-size;
        }
      }
      span {
        font-family: "Hanken Grotesk", sans-serif;
        font-weight: 300;
        width: 60%;
        @media (max-width: 992px) {
          width: auto;
          font-size: $body-xlarge-size;
          line-height: $body-xlarge-line-height-regular;
          font-weight: 100;
        }
  
        @media (max-width: 320px) {
          font-size: $body-normal-size;
          line-height: $body-normal-line-height-regular;
        }
      }
    }
  }