.home__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: toRem(80);
  margin: toRem(80) toRem(0);
  @media (max-width: 1200px) {
    margin-top: toRem(40);
  }

}

.hero {
  &__wrapper {
    padding: toRem(40) toRem(0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: toRem(20);

    @media (max-width: 1125px) {
      width: 100%;
   
    }

    
    @media (max-width: 992px) {
      margin-bottom: toRem(80);
   
    }
  }

  &__title {
    width: 80%;
    font-size: $heading-1-size;
    font-family: "Syne", sans-serif;

    @media (max-width: 1430px) {
      font-size: 60px;
      line-height: $heading-1-line-height;
      width: 80%;
    }

    @media (max-width: 1200px) {

      font-size: 56px;
    }
    @media (max-width: 1125px) {
      width: 60%;
    }
    @media (max-width: 1060px) {
      width: 54%;
    }
    @media (max-width: 1018px) {
      font-size: toRem(54);
    }
    
    @media (max-width: 992px) {
      font-size: toRem(60);
      line-height: $heading-1-line-height;
      width: 80%;
    }
    @media (max-width: 765px) {
      font-size: $heading-2-size;
      line-height: $heading-2-line-height;
      width: 100%;
    }
    @media (max-width: 600px) {
      font-size: $heading-3-size;
      line-height: $heading-2-line-height;
      width: 100%;
    }

    @media (max-width: 376px) {
      font-size: $heading-5-size;
      line-height: $heading-2-line-height;
      width: 100%;
    }
  }
  &__description {
    font-family: "Hanken Grotesk", sans-serif;
    font-size: $body-xlarge-size;
    font-weight: $font-weight-regular;
    line-height: 30px;
    color: $color-secondary-dark-secondary;
    width: 50%;
    @media (max-width: 768px) {
      width: 80%;
      font-size: toRem(22);
      line-height: $body-xlarge-line-height-regular;
    }

    
    @media (max-width: 376px) {

      width: 100%;
    }
  }

  &__cta {
    bottom: toRem(50);
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: toRem(20);
    border: 2px solid $color-secondary-dark-primary;
    border-radius: 15px;
    padding: toRem(20);


    @media (max-width: 1200px) {
      width: 100%;
      padding: toRem(20) toRem(0);
      justify-content: space-around;
    }
    @media (max-width: 840px) {
      padding: toRem(20);
    }

    @media (max-width: 1125px) {
      margin-top: toRem(80);
    }

    @media (max-width: 992px) {
      margin-top: toRem(40);
    }

    @media (max-width: 840px) {
      width: auto;
      align-items: start;
      flex-direction: column;
      gap: toRem(20);
    }

    &--item {
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-large-size;
      font-weight: $font-weight-bold;

      display: flex;
      align-items: center;
      gap: toRem(10);

      h6 {
        color: $color-secondary-dark-tertiary;
        font-weight: $font-weight-regular;
        @media (max-width: 1200px) {
          font-size: $body-xsmall-size;
        }
      }

      p {
        font-size: $body-small-size;
        @media (max-width: 900px) {
          font-size: $body-small-size;
        }
      }

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 15px;
        background-color: $color-brand-lavender-quaternary;
        padding: toRem(10);

        img {
          width: auto;
          height: toRem(30);
        }
      }
    }

    &--btn {
      @media (max-width: 840px) {
        width: 100%;
      }
      button {
        padding: toRem(15) toRem(30);
        @media (max-width: 840px) {
          padding: toRem(15) toRem(0);
          width: 100%;
        }
      }
    }
  }

  &__right {
    position: absolute;
    right: toRem(100);
    top: toRem(140);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(20);

    @media (min-width: 1600px) {
      position: relative;
      right: 0;
      top: toRem(-80);
    }
    @media (max-width: 1200px) {
      right: toRem(40);
      top: toRem(120);
    }
    @media (max-width: 992px) {
      right: toRem(0);
      top: toRem(0);
      position: relative;
      width: 100%;
      margin: toRem(80) toRem(0);
    }
  }

  &__card {
    position: relative;
    bottom: toRem(20);
    width: toRem(230);
    height: toRem(360);
    border-radius: 20px;

    @media (max-width: 1400px) {
      width: toRem(180);
      height: toRem(280);
    }


    @media (max-width: 600px) {
      width: toRem(180);
      height: toRem(280);
    }

    @media (max-width: 376px) {
      width: toRem(160);
    }

    @media (max-width: 320px) {
      width: toRem(130);
    }
    &__text {
      margin-top: -30px;
      padding: toRem(34) toRem(20) toRem(20) toRem(20);
      background-color: $color-secondary-dark-primary;
      border-bottom-right-radius: 30px;
      border-bottom-left-radius: 30px;
      color: white;
      font-size: small;
      line-height: 20px;
      font-weight: 300;
      font-family: "Hanken Grotesk", sans-serif;
      @media (max-width: 600px) {
        font-size: x-small;
      }
    }

    &--img {
      width: toRem(230);
      height: toRem(260);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      z-index: 10;
      background-color: white;
      padding-bottom: toRem(12);

      padding-right: toRem(4);

      @media (max-width: 1400px) {
        width: toRem(180);
        height: toRem(280);
      }

      @media (max-width: 600px) {
        width: toRem(180);
        height: toRem(280);
      }

      @media (max-width: 376px) {
        width: toRem(160);
      }

      @media (max-width: 320px) {
        width: toRem(130);
      }
    }

    .img__border {
      height: toRem(260);
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border: 3px solid $color-secondary-dark-primary;
      overflow: hidden;
      @media (max-width: 600px) {
        height: toRem(230);
      }
    }
    img {
      height: toRem(270);
    }
  }

  &__card:not(:last-child) {
    display: flex;
    flex-direction: column;
    gap: toRem(10);
  }

  &__card:last-child {
    position: relative;
    top: toRem(120);
    height: toRem(300);
    overflow: hidden;

    @media (max-width: 1125px) {
      top: toRem(95);
      height: toRem(230);
    }

    @media (max-width: 600px) {
      height: toRem(280);
      top: toRem(120);
    }

    & {
      border: 3px solid $color-secondary-dark-primary;
    }

    img {
      height: toRem(310);
      @media (max-width: 600px) {
        height: toRem(290);
      }
      & {
        border-radius: 20px;
      }
    }
  }
}

.featured {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: toRem(80);
    @media (max-width: 600px) {
      gap: toRem(40);
      margin-top: toRem(80);
    }

    .card__wrapper--flex {
      @media (max-width: 1392px) {
        gap: toRem(30);
      }
      @media (max-width: 1000px) {
        flex-direction: column;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @media (max-width: 830px) {
      flex-direction: column;
      align-items: start;
      gap: toRem(10);
    }

    h2 {
      font-family: "Syne", sans-serif;
      font-size: $heading-3-size;
      font-weight: $font-weight-bold;
      @media (max-width: 600px) {
        font-size: $heading-5-size;
      }
    }
    span {
      display: flex;
      align-items: center;
      gap: toRem(10);
      img {
        width: toRem(26);
      }
      & {
        font-family: "Hanken Grotesk", sans-serif;
      }
      & {
        font-size: $body-normal-size;
      }
      & {
        font-weight: $font-weight-bold;
      }
    }
  }

  &__main {
    &--card {
      display: flex;
      align-items: start;
      overflow: hidden;
      border-radius: 15px;
      height: toRem(420);
      border: 2px solid $color-secondary-dark-quinary;

      @media (max-width: 1160px) {
        flex-direction: column;
        height: auto;
      }

      &__img {
        object-fit: cover;
        max-width: toRem(500);
        min-height: toRem(504);
        width: 100%;
        overflow: hidden;
        @media (max-width: 1160px) {
          max-width: none;
          height: toRem(400);
          width: 100%;
        }
        @media (max-width: 600px) {
          height: toRem(300);
          min-height: auto;
          width: 100%;
        }

        & {
          z-index: 8;
        }
      }

      &__info {
        padding: toRem(24);
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: toRem(40);
        width: 100%;
 

        @media (max-width: 1200px) {
          padding: toRem(20);
          width: auto;
        }

        .card__info {
          width: 100%;

          &__header {
  
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media (max-width: 700px) {
              flex-direction: column;
              gap: toRem(20);
            }

            &--left {
              display: flex;
              align-items: center;
              h4 {
                font-family: "Hanken Grotesk", sans-serif;
                font-size: $heading-3-size;
                font-weight: $font-weight-bold;
              }
              span {
                font-family: "Hanken Grotesk", sans-serif;
                font-size: $body-normal-size;
                font-weight: $font-weight-thin;
                color: $color-secondary-dark-tertiary;
              }
            }
          }

          &__content {
      
            display: flex;
            flex-direction: column;
            gap: toRem(20);
          }
          &--title {
            font-family: "Syne", sans-serif;
            display: flex;
            font-weight: $font-weight-semi-bold;
            font-size: $body-large-size;
            flex-direction: column;
            gap: toRem(10);

            @media (max-width: 600px) {
              font-size: $body-xsmall-size;
            }

            span {
              font-size: $body-large-size;
              color: $color-secondary-dark-tertiary;
              font-weight: $font-weight-thin;
              font-family: "Hanken Grotesk", sans-serif;
            }
          }
          &--description {
            width: fit-content;
            font-family: "Hanken Grotesk", sans-serif;
            font-size: $body-large-size;
            font-weight: $font-weight-thin;
            color: $color-secondary-dark-tertiary;

            span {
              font-weight: $font-weight-bold;
              color: #000;
            }
          }
        }
      }
    }
  }
}

.benefits {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: toRem(80);

    @media (max-width: 768px) {
      gap: toRem(40);
      .card__wrapper--flex {
        flex-direction: column;
        gap: toRem(20);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media (max-width: 1040px) {
      align-items: start;
      flex-direction: column;
      gap: toRem(20);
    }
    h2 {
      width: 40%;
      @media (max-width: 1040px) {
        width: 100%;
      }

      @media (max-width: 600px) {
        top: 36%;

        font-size: $heading-5-size;
      }
      & {
        font-family: "Syne", sans-serif;
      }
      & {
        font-size: $heading-3-size;
      }
      & {
        font-weight: $font-weight-bold;
      }
    }
    span {
      width: 35%;
      @media (max-width: 1040px) {
        width: 70%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }
      & {
        line-height: $body-xlarge-line-height-regular;
        font-family: "Hanken Grotesk", sans-serif;
        font-size: $body-xlarge-size;
      }
    }
  }
}

.categories {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: toRem(80);

    .card__wrapper--flex {
      @media (max-width: 600px) {
        flex-direction: column;

        gap: toRem(20);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media (max-width: 830px) {
      flex-direction: column;
      align-items: start;
      gap: toRem(20);
    }

    h2 {
      font-family: "Syne", sans-serif;
      font-size: $heading-3-size;
      font-weight: $font-weight-bold;
      @media (max-width: 600px) {
        font-size: $heading-5-size;
      }
    }
    span {
      display: flex;
      align-items: center;
      gap: toRem(10);
      img {
        width: toRem(26);
      }
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-normal-size;
      font-weight: $font-weight-bold;
    }
  }

  &__item {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    border: 2px solid $color-secondary-dark-quinary;
    border-radius: toRem(15);

    @media (max-width: 1440px) {
      width: 100%;
    }

    @media (max-width: 600px) {
      padding: 0;
    }

    &--content {
      img {
        padding: toRem(10);
        background-color: $color-brand-lavender-quaternary;
        border-radius: toRem(15);
        width: toRem(40);
      }
      display: flex;
      align-items: center;
      gap: toRem(20);
      padding: toRem(20);
      &__text {
        h4 {
          font-family: "Syne", sans-serif;
          font-size: $body-xlarge-size;
          font-weight: $font-weight-bold;
        }
        span {
          font-family: "Hanken Grotesk", sans-serif;
          font-size: $body-normal-size;
          color: $color-secondary-dark-tertiary;
        }
      }
    }

    &--link {

        padding: toRem(20);
  
      span {
        display: flex;
        align-items: center;
        gap: toRem(10);
        font-family: "Hanken Grotesk", sans-serif;
        font-size: $body-normal-size;
        font-weight: $font-weight-semi-bold;

        img {
          width: toRem(24);
        }
      }
    }
  }
}

.cities {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: toRem(80);

    @media (max-width: 600px) {
      gap: toRem(40);
    }

    .card__wrapper--flex {
      @media (max-width: 600px) {
        flex-direction: column;

        gap: toRem(20);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: start;
      gap: toRem(20);
    }

    h2 {
      font-family: "Syne", sans-serif;
      font-size: $heading-3-size;
      font-weight: $font-weight-bold;

      @media (max-width: 600px) {
        font-size: $heading-5-size;
      }
    }
    span {
      display: flex;
      align-items: center;
      gap: toRem(10);
      img {
        width: toRem(26);
      }
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-normal-size;
      font-weight: $font-weight-bold;
    }
  }
}

.agents {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: toRem(80);

    @media (max-width: 910px) {
      gap: toRem(40);
    }

    .btn__navigation {
      @media (max-width: 910px) {
        display: flex;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    @media (max-width: 830px) {
      flex-direction: column;
      align-items: start;
      gap: toRem(20);
    }
    h2 {
      font-family: "Syne", sans-serif;
      font-size: $heading-3-size;
      font-weight: $font-weight-bold;

      @media (max-width: 600px) {
        font-size: $heading-5-size;
      }
    }
    span {
      display: flex;
      align-items: center;
      gap: toRem(10);
      img {
        width: toRem(26);
      }
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-normal-size;
      font-weight: $font-weight-bold;
    }
  }
}

.testimonial {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: toRem(80);
    @media (max-width: 600px) {
      gap: toRem(40);
    }
  }

  &__header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    h2 {
      font-family: "Syne", sans-serif;
      font-size: $heading-3-size;
      font-weight: $font-weight-bold;
      @media (max-width: 600px) {
        font-size: $heading-6-size;
      }
    }
  }
}

.newsletter {
  &__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: toRem(80);
    background-color: $color-brand-lavender-tertiary;
    border: 3px solid $color-secondary-dark-primary;
    border-radius: toRem(15);
  }

  &__cta {
    background-color: #f7f2ff;
    bottom: toRem(50);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(80);
    margin-top: toRem(20);
    border-radius: 15px;
    padding: toRem(15) toRem(20);
    @media (max-width: 1024px) {
      width: auto;
    }
    p {
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-large-size;
      color: $color-secondary-dark-quarternary;

      @media (max-width: 320px) {
        font-size: $body-small-size;
      }
    }

    &--item {
      font-family: "Hanken Grotesk", sans-serif;
      font-size: $body-large-size;
      font-weight: $font-weight-bold;
      display: flex;
      align-items: center;
      gap: toRem(10);

      h6 {
        color: $color-secondary-dark-tertiary;
        font-weight: $font-weight-regular;
      }

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 15px;
        background-color: $color-brand-lavender-secondary;
        padding: toRem(10);

        img {
          width: auto;
          height: toRem(30);
        }
      }
    }

    &--btn {
      button {
        padding: toRem(15);
        @media (max-width: 1024px) {
          padding: toRem(15) toRem(0);
          width: 100%;
        }
      }
    }
  }

  &__content {
    color: white;
    padding: toRem(40) toRem(40) toRem(50);
    width: 40%;

    @media (max-width: 1024px) {
      width: 40%;
    }

    @media (max-width: 785px) {
      width: auto;
    }

    @media (max-width: 320px) {
      padding: toRem(30) toRem(20) toRem(40);
    }
    display: flex;
    gap: toRem(20);
    flex-direction: column;
    h2 {
      font-family: "Syne", sans-serif;
      font-size: $heading-3-size;
      font-weight: $font-weight-bold;
      @media (max-width: 1024px) {
        font-size: $heading-5-size;
      }
      @media (max-width: 320px) {
        font-size: $body-xlarge-size;
      }
    }
    span {
      font-family: "Hanken Grotesk", sans-serif;
      font-weight: 300;
      width: 60%;
      @media (max-width: 1024px) {
        width: auto;
        font-size: $body-xlarge-size;
        line-height: $body-xlarge-line-height-regular;
        font-weight: 100;
      }

      @media (max-width: 320px) {
        font-size: $body-normal-size;
        line-height: $body-normal-line-height-regular;
      }
    }
  }
}
