.pricing {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: toRem(80);
    margin-top: toRem(40);
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: toRem(24);

    h2 {
      font-weight: $font-weight-semi-bold;
      font-size: $heading-1-size;
      line-height: $heading-1-line-height;
      font-family: "Syne", sans-serif;
      text-align: center;
      color: $color-secondary-dark-primary;
      @media screen and (max-width: 826px) {
        font-size: $heading-3-size;
        line-height: $heading-3-line-height;
      }
      @media screen and (max-width: 426px) {
        font-size: $heading-5-size;
        line-height: $heading-5-line-height;
      }
    }
    p {
      font-weight: $font-weight-thin;
      text-align: center;
      width: 837px;
      font-size: $body-xlarge-size;
      line-height: $body-xlarge-line-height-regular;
      font-family: "Hanken Grotesk", sans-serif;
      color: $color-secondary-dark-primary;
      @media screen and (max-width: 826px) {
        font-size: $body-large-size;
        width: auto;
        text-align: center;
        line-height: $body-large-line-height-regular;
      }
      @media screen and (max-width: 426px) {
        font-size: $body-normal-size;
        width: auto;
        text-align: center;
        line-height: $body-normal-line-height-regular;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: toRem(24);

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &__description {
    
    font-size: $body-xlarge-size;
    line-height: $body-xlarge-line-height-regular;
    font-weight:  $font-weight-thin;
    font-family: "Hanken Grotesk", sans-serif;
    color: $color-secondary-dark-tertiary;
}

  &__card {
    height: toRem(612);
    display: flex;
    flex-direction: column;
    padding: toRem(24);
    gap: toRem(26);
    border: 1px solid $color-brand-lavender-tertiary;
    border-radius: toRem(15);
    
    @media screen and (max-width: 1280px) {
      height: auto;
      width: auto;
      gap: toRem(16);
      max-width: toRem(784);
    }

    h1 {
      font-weight: $font-weight-semi-bold;
      font-size: 64px;
      line-height: $heading-1-line-height;
      font-family: "Syne", sans-serif;
      color: $color-secondary-dark-primary;
      letter-spacing: -4%;
    }


    &--header {
        display: flex;
        align-items: center;
        gap: toRem(20);

        .header{
            &__icon {
                width: toRem(50);
                height: toRem(50);
                border-radius: toRem(100);
                display: flex;
                justify-content: center;
                background-color: black;
                align-items: center;
                &--rounded {
                  background-color: white;
                  border-radius: toRem(100);
                  width: toRem(18);
                  height: toRem(18);

                }
            }
            &__title {
                display: flex;
                flex-direction: column;
                h5 {
                    font-weight: $font-weight-semi-bold;
                    font-size: $heading-6-size;
                    line-height: $heading-6-line-height;
                    font-family: "Syne", sans-serif;
                    color: $color-secondary-dark-primary;
                }
                p {
                    font-weight: $font-weight-thin;
                    font-size: $body-xlarge-size;
                    line-height: $body-xlarge-line-height-regular;
                    font-family: "Hanken Grotesk", sans-serif;
                    color: $color-secondary-dark-tertiary;
                }
            }
        }
    }

    &--benefits {
      display: flex;
      gap: toRem(10);
     
      @media screen and (max-width: 992px) {
        margin-bottom: toRem(10);
      }

      flex-direction: column;
        .benefits__item {
            display: flex;
            align-items: center;
            gap: toRem(16);

            img {
                width: toRem(20);
                height: toRem(20);
            }
            p {
                font-weight: $font-weight-thin;
                font-size: $body-large-size;
                line-height: $body-large-line-height-regular;
                font-family: "Hanken Grotesk", sans-serif;
                color: $color-secondary-dark-tertiary;
            }
        }
    }   
  }

  &__card:nth-child(2){
    height: auto;
    box-shadow: rgba($color-brand-lavender-secondary, 0.4) 0px 8px 140px;
    border: 2px solid $color-secondary-dark-primary;

    @media screen and (max-width: 992px) {
      gap: toRem(16);
    }

    .popular {
        padding: toRem(10) toRem(8);
        place-self: flex-end;
        text-align: center;
        border-radius: toRem(8);
        width: toRem(126);
        background-color: $color-brand-lavender-primary;
        color: white;
        font-family: "Hanken Grotesk", sans-serif;
        font-size: $body-small-size;
        text-transform: uppercase;
        @media screen and (max-width: 992px) {
          margin-bottom: toRem(10);
        }
    }
  }

}
